.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.test {
  position: absolute;
  top: 0;
  left: 24em;
  color: white;
}